h1{
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: pink;
    font-size: 32;
}

.btn{
    font-size: 18px;
    color: black;
    background-color: lightgreen;
    font-weight: 500;
}